{% load cms_tags %}<section {% spaceless %} {% endspaceless %}{% if instance.id_name %} id="{{ instance.id_name }}" {% endif %}{% spaceless %} {% endspaceless %}{% if instance.class_name or instance.additional_classes %}class="{% spaceless %}
        {{ instance.class_name }}
        {{ instance.get_additional_classes }}
    {% endspaceless %}"
    {% endif %}{% spaceless %} {% endspaceless %}{% if inline_styles %} style="{{ inline_styles }}" {% endif %}{{
    instance.attributes_str }}>
    <div class="container">
        <div class="row">
            {% for plugin in instance.child_plugin_instances %}{% render_plugin plugin %}{% endfor%}
        </div>
    </div>
</section>