@media screen and (min-width: 1200px) {
    nav>.nav.navbar-nav>li>a.donate_link {
        padding-top: 8px;
        padding-bottom: 5px;
        border-bottom: none;
    }

    nav>.nav.navbar-nav>li>a>button {
        padding: 10px 45px;
        /* border-bottom: 2px solid #bdbbac; */
        cursor: pointer;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-collapse.collapse {
        float: right;
        margin-right: 4%;
    }
}

@media (min-width: 1200px) {
    .col-lg-offset-1 {
        margin-left: 4%;
    }
}

.plugin-search {
    padding-top: 100px;
}