{% load i18n menu_tags cache %}

{% for child in children %}
<li class="{% if child.ancestor %}ancestor{% endif %}
        {% if child.selected %} active{% endif %}
        {% if child.children %} dropdown{% endif %}">
    {% if child.children %}
    <a href="{{child.children.0.get_absolute_url}}" class="dropdown-toggle" role="button" aria-expanded="false">{{child.get_menu_title}}
        <i>›</i></a>
    <ul class="dropdown-menu dl-submenu" role="menu">
        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
    </ul>
    {% else %}
    <a class="{% if child.get_menu_title == 'Donate' %}donate_link{% endif %}" href="{{ child.get_absolute_url }}">
        {% if child.get_menu_title == 'Donate' %}
        <button class="btn btn-darkened pull-left">{{child.get_menu_title}}
        </button>
        {% else %}
        <span>{{ child.get_menu_title }}</span>
        {% endif %}
    </a>
    {% endif %}
</li>
{% if class and forloop.last and not forloop.parentloop %}{% endif %}
{% endfor %}

