{% load cms_tags staticfiles sekizai_tags menu_tags %}
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1 navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="home-btn">Home</div>
                <a href="/en/home" class="navbar-brand">
                    {% comment %} Disability Rights Commission {% endcomment %}
                    <img src="{% static 'design/themeGovernment/assets/images/logo.png' %}" alt="">
                </a>
                <div class="line"></div>
            </div>
            <div class="col-lg-7  navbar-collapse collapse">
                <nav role="navigation">
                    <ul id="navigation" class="nav navbar-nav navbar-right dl-menu">
                        {% show_menu 0 1 100 100 "menu.html" %}
                        <li class="dropdown colors">
                            <a href="#" class="dropdown-toggle" role="button" aria-expanded="false">
                                <span class="fa fa-cog"></span><i>›</i>
                            </a>
                            <ul class="dropdown-menu dl-submenu" role="menu">
                                <li class="active">
                                    <a href="#" id="css-default" class="theme-change-btn">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" width="28px" height="14px" viewBox="0 0 28 14"
                                            enable-background="new 0 0 28 14" xml:space="preserve">
                                            <path fill="#012267" stroke="#201600" stroke-miterlimit="10" d="M0,0" />
                                            <rect fill="#012267" width="14" height="14" />
                                            <rect x="14" fill="#9A0000" width="14" height="14" />
                                        </svg>
                                        Government
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="css-sandybay" class="theme-change-btn">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" width="28px" height="14px" viewBox="0 0 28 14"
                                            enable-background="new 0 0 28 14" xml:space="preserve">
                                            <path fill="#012267" stroke="#201600" stroke-miterlimit="10" d="M0,0" />
                                            <rect fill="#01478e" width="14" height="14" />
                                            <rect x="14" fill="#ab6a0f" width="14" height="14" />
                                        </svg>
                                        SANDYBAY
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="css-skyline" class="theme-change-btn">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" width="28px" height="14px" viewBox="0 0 28 14"
                                            enable-background="new 0 0 28 14" xml:space="preserve">
                                            <path fill="#012267" stroke="#201600" stroke-miterlimit="10" d="M0,0" />
                                            <rect fill="#232323" width="14" height="14" />
                                            <rect x="14" fill="#006b8e" width="14" height="14" />
                                        </svg>
                                        SKYLINE
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="css-raspberry" class="theme-change-btn">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" width="28px" height="14px" viewBox="0 0 28 14"
                                            enable-background="new 0 0 28 14" xml:space="preserve">
                                            <path fill="#012267" stroke="#201600" stroke-miterlimit="10" d="M0,0" />
                                            <rect fill="#900021" width="14" height="14" />
                                            <rect x="14" fill="#242424" width="14" height="14" />
                                        </svg>
                                        Raspberry</a>
                                </li>
                                {% comment %} <li class="divider"></li>
                                <li class="active">
                                    <a href="#" css="css-boxed" class="theme-change-btn">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" width="28px" height="14px" viewBox="0 0 28 14"
                                            enable-background="new 0 0 28 14" xml:space="preserve">
                                            <path fill="#012267" stroke="#201600" stroke-miterlimit="10" d="M0,0" />
                                            <rect fill="#F8F8F8" width="28" height="14" />
                                            <rect x="5.906" fill="#E9E8DC" width="16.156" height="14" />
                                            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="22.0625"
                                                y1="7" x2="28" y2="7">
                                                <stop offset="0" style="stop-color:#000000" />
                                                <stop offset="1" style="stop-color:#FFFFFF" />
                                            </linearGradient>
                                            <rect x="22.063" opacity="0.41" fill="url(#SVGID_1_)" width="5.938" height="14" />
                                            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="0" y1="7"
                                                x2="5.9375" y2="7">
                                                <stop offset="0" style="stop-color:#FFFFFF" />
                                                <stop offset="1" style="stop-color:#000000" />
                                            </linearGradient>
                                            <rect opacity="0.41" fill="url(#SVGID_2_)" width="5.938" height="14" />
                                        </svg>
                                        Boxed</a>
                                </li> {% endcomment %}
                            </ul>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</header>