{% extends "design/base.html" %}

{% block content %}
<section class="fw-news about">
    <!-- <img src="../uploads/about/we-are.jpg" alt="" class="fw-news__image fw-image-parallax"> -->
    <div class="fw-image-parallax" data-parallax-url="http://placehold.it/1600x750.jpg"></div>
    <div class="fw-news__pattern"></div>
    <div class="fw-news__inner">
        <h1>We — goverment</h1>
    </div>
</section>
<div class="bg-col fw-intro text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="project-details__inner">Inspired by the octopus, we’re on the road to creating materials that
                    render things almost invisible. Yet as Philip Ball points out, the history of camouflage and our
                    limited understanding of how creatures hide in nature may make the task trickier than it seems.
                    Inspired by the octopus</p>
            </div>
        </div>
    </div>
</div>
<section class="project-details about-text">
    <div class="container">
        <h2 class="coll-hdr ep-t">our <b>Mission</b></h2>
        <div class="project-details__inner content__text">
            <hr class="first">
            <p>Inspired by the octopus, we’re on the road to creating materials that render things almost invisible.
                Yet as Philip Ball points out, the history of camouflage and our limited understanding of how creatures
                hide in nature may make the task trickier than it seems.</p>
            <p>US aircraft have airdropped arms to Kurdish forces defending Kobane from Islamic State (IS) jihadists,
                as Turkey says it will allow Iraqi Kurdish fighters passage into the Syrian border town.</p>
            <ul>
                <li>American C-130 planes delivered weapons, ammunition and medical supplies provided by Iraq's
                    Kurdistan Regional Government (KRG) to People's Protection Units (YPG) fighters on Sunday,</li>
                <li>The operation was intended to "enable continued resistance against ISIL's attempts to overtake</li>
                <li>Kobane," CentCom added, using the former name for the Islamic State.</li>
            </ul>
            <ol>
                <li>American C-130 planes delivered weapons, ammunition and medical supplies provided by Iraq's
                    Kurdistan Regional Government (KRG) to People's Protection Units (YPG) fighters on Sunday,</li>
                <li>The operation was intended to "enable continued resistance against ISIL's attempts to overtake</li>
                <li>Kobane," CentCom added, using the former name for the Islamic State.</li>
            </ol>
            <p>YPG spokesperson Redur Xelil told Reuters that the weapons would "help greatly" in the fight against IS.
                "The military assistance dropped by American planes at dawn on Kobane was good and we thank America for
                this support," he said.</p>
        </div>
    </div>
</section>
<div class="fw-news about-diagramms">
    <!-- <img src="../uploads/about/wins.jpg" alt="" class="fw-news__image fw-image-parallax"> -->
    <div class="fw-image-parallax" data-parallax-url="http://placehold.it/1800x715.jpg"></div>
    <div class="fw-news__pattern"></div>
    <div class="container fw-news__inner">
        <div class="row">
            <div class="col-xm-6 col-sm-3">
                <div class="about-diagramms__item">
                    <div class="about-diagramms__item-diagr">
                        <canvas class="about-chart" width="100" height="100" data-percent="" data-numbers="2874"
                            data-size="85"></canvas>
                    </div>
                    <div class="about-diagramms__item-title">projects <b>Launched</b>
                    </div>
                </div>
            </div>
            <div class="col-xm-6 col-sm-3">
                <div class="about-diagramms__item">
                    <div class="about-diagramms__item-diagr">
                        <canvas class="about-chart" width="100" height="100" data-percent="67" data-symbol="%"
                            data-symbol-place="right" data-size="85"></canvas>
                    </div>
                    <div class="about-diagramms__item-title">projects <b>Completed</b>
                    </div>
                </div>
            </div>
            <div class="col-xm-6 col-sm-3">
                <div class="about-diagramms__item">
                    <div class="about-diagramms__item-diagr">
                        <canvas class="about-chart" width="100" height="100" data-percent="" data-numbers="117"
                            data-size="85"></canvas>
                    </div>
                    <div class="about-diagramms__item-title">people <b>involved</b>
                    </div>
                </div>
            </div>
            <div class="col-xm-6 col-sm-3">
                <div class="about-diagramms__item">
                    <div class="about-diagramms__item-diagr about-diagramms__item-diagr-sm">
                        <canvas class="about-chart" width="100" height="100" data-percent="" data-numbers="874404"
                            data-symbol="$" data-symbol-place="left" data-size="85"></canvas>
                    </div>
                    <div class="about-diagramms__item-title">money <b>Assembled</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="project-details about-text">
    <div class="container">
        <h2 class="coll-hdr ep-t">our <b>strategy</b></h2>
        <div class="project-details__inner content__text">
            <hr class="first">
            <h6>Inspired by the octopus, we’re on the road to creating materials that render things almost invisible.</h6>
            <p>US aircraft have airdropped arms to <a href="#">Kurdish forces</a> defending Kobane from Islamic State
                (IS) jihadists, as Turkey says it will allow Iraqi Kurdish fighters passage into the Syrian border
                town.</p>
            <ul>
                <li>American C-130 planes delivered weapons, ammunition and medical supplies provided by Iraq's
                    Kurdistan Regional Government (KRG) to People's Protection Units (YPG) fighters on Sunday,</li>
                <li>The operation was intended to "enable continued resistance against ISIL's attempts to overtake</li>
                <li>Kobane," CentCom added, using the former name for the Islamic State.</li>
            </ul>
            <ol>
                <li>American C-130 planes delivered weapons, ammunition and medical supplies provided by Iraq's
                    Kurdistan Regional Government (KRG) to People's Protection Units (YPG) fighters on Sunday,</li>
                <li>The operation was intended to "enable continued resistance against ISIL's attempts to overtake</li>
                <li>Kobane," CentCom added, using the former name for the Islamic State.</li>
            </ol>
            <p>YPG spokesperson Redur Xelil told Reuters that the weapons would "help greatly" in the fight against IS.
                "The military assistance dropped by American planes at dawn on Kobane was good and we thank America for
                this support," he said.</p>
        </div>
    </div>
</section>
<section class="fw-colorBg__second text-center contacts-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <h2>We need you</h2>
                <p>Leave us your e-mail, and we write back how you can help. No spam.</p>
                <form action="#" class="form-validate" role="form" method="post" novalidate="novalidate">
                    <div class="form-group">
                        <input id="subscribe-email" class="form-control" placeholder="email:" type="email" required>
                        <!-- <label for="subscribe-email"></label> -->
                    </div>
                    <div class="form-group">
                        <input type="text" id="subscribe-name" name="subscribe-name" class="form-control" placeholder="your name:"
                            required>
                        <!-- <label for="subscribe-name"></label> -->
                    </div>
                    <div class="form-group">
                        <textarea id="subscribe-textarea" name="subscribe-textarea" class="form-control" rows="4"
                            placeholder="Additional info:" required></textarea>
                    </div>
                    <button class="btn btn-darkened" value="Send" type="submit">Send</button>
                    <div class="form-loader hidden">
                        <div id="loader" class="loader active"></div>
                    </div>
                </form>
                <div class="success-message hidden">
                    <div class="suc-title"><i class="fa fa-check-circle"></i>
                        <br>SENT</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}